.btn{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #ffffff;
  background: #339af0;
  border: none;
  border-radius: 3px;
  text-align: center;
  padding: 5px 10px;
  min-width: 180px;
  width: fit-content;
  height: 40px;
  transition: 0.2s;
  box-shadow: 0px 2px 2px 0px rgba(31,20,0,0.25);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(31,20,0,0.25);
  -moz-box-shadow: 0px 2px 2px 0px rgba(31,20,0,0.25);
  svg{
    margin: 0 5px;
  }
  &:hover{
    cursor: pointer;
    background: lighten(#339af0, 10%);
    box-shadow: 0px 4px 4px 0px rgba(31,20,0,0.30);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(31,20,0,0.30);
    -moz-box-shadow: 0px 4px 4px 0px rgba(31,20,0,0.30);
  }
  &:active, &:focus {
    outline: none;
  }
  &.secondary{
    background: #000;
    &:hover{
      background: lighten(#000, 5%);
    }
  }
  &.tertiary {
    color: #333;
    background: #ffffff;
    &:hover{
      background: #fcfcfc;
    }
  }
  &.iconBtn {
    min-width: 40px;
    width: 40px;
    border-radius: 100%;
    background: transparent;
    color: #000;
    svg{
      margin: 0 auto;
    }
    &:hover{
      color: #000;
      background: #fcfcfc;
    }
  }
  &:disabled{
    background: #eeeeee;
    color: #aaaaaa;
    box-shadow: none;
    &:hover{
      cursor: default;
      background: #eeeeee;
      color: #aaaaaa;
      box-shadow: none;
    }
  }
}
